---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import "../styles/global.css";

const locations = [
  { name: "La Palud-sur-Verdon", slug: "la-palud-sur-verdon" },
  { name: "Saint-André-les-Alpes", slug: "saint-andre-les-alpes" },
  { name: "Colmars-les-Alpes", slug: "colmars-les-alpes" },
  { name: "Entrevaux", slug: "entrevaux" },
  { name: "Annot", slug: "annot" },
];
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-gray-100 text-gray-900">
		<Header />
		<main class="flex flex-col justify-center">
			<h1 class="text-4xl font-extrabold text-center mb-6">🗺️ Sélectionnez une destination</h1>
			<p class="text-center mb-8 text-lg">
				Choisissez votre bureau d'information pour accéder au formulaire.
			</p>

			<!-- Grid de cartes carrées adaptées au viewport -->
			<div class="grid grid-cols-1 md:grid-cols-3 gap-6 place-items-center w-fit mx-auto">
				{locations.map(({ name, slug }) => (
						<a href={`/${slug}/form1`} 
								class="min-w-[250px] min-h-[250px] w-full bg-cover bg-center relative shadow-lg 
											 hover:shadow-xl transition-all duration-300 flex flex-col justify-between items-center text-center
											 border border-gray-200 p-4 hover:border-emerald-600 hover:border-8"
								style={{ backgroundImage: `url('../images/${slug}.jpg')` }}>
								
								<!-- Overlay pour améliorer la lisibilité -->
								<div class="absolute inset-0 bg-black/50"></div>
		
								<!-- Contenu de la carte -->
								<h2 class="text-lg font-semibold text-white relative z-10 text-nowrap">{name}</h2>
						</a>
				))}
		</div>		
		</main>
	</body>
</html>
